<div class="chat-container">
  <mat-sidenav-container  autosize fxFlex>
    <mat-sidenav #drawer 
    [opened]="!mobileQuery.matches"
    [mode]="mobileQuery.matches ? 'over' : 'side'" 
    [ngClass]="mobileQuery.matches ? 'w-50' : 'w-25'"
    [fixedInViewport]="mobileQuery.matches"
    class="shadow bg-grey">
      <app-chat-contacts [contactId]="selectedContact.id" (selectContact)="openContactChat($event)">
      </app-chat-contacts>
    </mat-sidenav>

    <mat-sidenav-content fxFlex>

      <button  type="button" mat-button (click)="drawer.toggle()" *ngIf="mobileQuery.matches" class="position-absolute mat-icon-button mobile_menu">
        <mat-icon class="text-primary">menu </mat-icon>
      </button>
      <app-chat-messages *ngIf="selectedContact" 
                          [contact]="selectedContact" 
                          [history]="selectedHistory"
                          [events]="scrollChatContent.asObservable()">
      </app-chat-messages>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>