
<div class="h-100 messages_wrapper"  fxLayout="column" >

    <div class="contact_info pl-sm-3 pl-lg-0" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div>
                    <img [src]="contact.img" class="rounded-circle" alt="contact img"/>
                </div>
                <div fxLayout="column" >
                   <span> {{contact.name}} </span>
                   <em class="text-muted mat-header-cell"> {{contact.status}} </em>
                   <span [ngClass]="contact.online?'text-success':'text-grey'">
                       <mat-icon class="status_icon rounded-circle" [ngClass]="contact.online?'bg-success':'bg-grey'" > </mat-icon>
                       {{contact.online?'Online':'Offline'}}
                    </span> 

                </div>

            </div>
        </div>

        <div>
            <button mat-button class="mat-icon-button" [matMenuTriggerFor]="menuActions">
                <mat-icon class="text-primary">more_vert</mat-icon>
            </button>
            <mat-menu #menuActions="matMenu">
                <button mat-menu-item>Mute</button>
                <button mat-menu-item>Archive</button>
                <button mat-menu-item>Delete</button>
            </mat-menu>
        </div>

    </div>
        <div fxFlex="1 1 auto" #message_content class="bg-grey message_content pb-0 overflow-auto">
                <!-- row-reverse -->
            <div class="chat-messages position-relative">
                <div  *ngFor="let message of history" class="message-row mb-2" 
                fxLayout="row"
                [ngClass]="message.userId == contact.id?'contactMsg' :'userMsg'">
                        <div fxLayoutGap="40px" class="msg-bubble p-3 rounded-bottom position-relative" [ngClass]="message.userId == contact.id?'rounded-right text-light-blue':'rounded-left'">
                            <bdi class="msg-text">{{message.message}}</bdi>
                            <bdi class="msg-time secondary-text">{{message.time | date:'shortTime'}}</bdi>
                            <span class="msg-quote"></span>
                        </div>
                        <img *ngIf="message.userId == contact.id" src="{{contact.img}}" alt="user image"  class="rounded-circle"/>
                        <img *ngIf="message.userId == user.id" src="{{user.img}}" alt="contact image"  class="rounded-circle"/>
                </div>
    
            </div>
    
        </div>

        <div fxFlex="0 0 auto" class="chat-footer bg-grey pb-2 pt-0" fxLayout="column" >
              <div>
                  <label class="text-black-50 mx-1">{{contact.name}} is typing ...</label>
              </div>
                <div class="input-group mb-3 shadow">
                        <div class="input-group-prepend">
                          <span class="border input-group-text bg-white text-muted">
                                <mat-icon>attachment</mat-icon>
                          </span>
                        </div>
                        <div fxFlex fxLayoutAlign="start center" class="bg-white border">
                            <textarea   fxFlex
                            placeholder="Type your message..." 
                            [(ngModel)]="newMessage" 
                            (keyup.enter)="addNewMsg($event)"
                            class="border-0 pl-3"
                            rows="1"
                            wrap="hard"
                            ></textarea>
                        </div>
                   
                        <div class="input-group-append" (click)="addNewMsg($event)">
                          <span class="input-group-text bg-primary text-white border p-0">
                                <button mat-button >
                                    <mat-icon>send</mat-icon>
                                </button>   
                          </span>
                        </div>
                      </div>
        </div>

</div>