
<div class="h-100"  fxLayout="column" >

    <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div>
                    <img [src]="contact.img" class="rounded-circle" alt="contact img"/>
                </div>
                <div fxLayout="column" >
                   <span> {{contact.name}} </span>
                   <em class="text-muted mat-header-cell"> {{contact.status}} </em>
                    <mat-icon  [ngClass]="{'bg-success':contact.online}" class="rounded-circle"> </mat-icon>
                </div>

            </div>
        </div>

        <div>
            <button mat-button class="mat-icon-button" [matMenuTriggerFor]="menuActions">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuActions="matMenu">
                <button mat-menu-item>Mute</button>
                <button mat-menu-item>Archive</button>
                <button mat-menu-item>Delete</button>
            </mat-menu>
        </div>

    </div>
        <div fxFlex="1 1 auto" class="bg-secondary px-3 py-4">
                <!-- row-reverse -->
            <div class="chat-messages position-relative">
                <div  *ngFor="let message of history" class="message-row mb-2" 
                fxLayout="row"
                [ngClass]="message.userId == contact.id?'contactMsg' :'userMsg'">
                        <div class="msg-buubble p-2 text-white bg-primary rounded-bottom position-relative" [ngClass]="message.userId == contact.id?'rounded-right':'rounded-left'">
                            <bdi class="msg-text">{{message.message}}</bdi>
                            <bdi class="msg-time secondary-text">{{message.time | date:'shortTime'}}</bdi>
                            <span class="msg-quote"></span>
                        </div>
                        <img *ngIf="message.userId == contact.id" src="{{contact.img}}" alt="user image"  class="rounded-circle"/>
                        <img *ngIf="message.userId == user.id" src="{{user.img}}" alt="contact image"  class="rounded-circle"/>
                </div>
    
            </div>
    
        </div>

        <div fxFlex="0 0 auto" class="chat-footer" fxLayout="row" fxLayoutAlign="center center">
                    <textarea fxFlex matInput placeholder="Type your message..." [(ngModel)]="newMessage" floatPlaceholder="never"
                    (keyup.enter)="addNewMsg($event)"
                    ></textarea>
    
                <button mat-raised-button color="primary" type="submit" (click)="addNewMsg($event)">
                    <mat-icon>send</mat-icon>
                </button>
    
        </div>

</div>