/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/scss/app';

html, body { height: 100%; 
    font-size: 14px;
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//reset outline style as focus and active
button,  button[class*="mat"], input[type=text], textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
}