/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/scss/app';

html, body { height: 100%; 
    font-size: 14px;
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//reset outline style as focus and active
button,  button[class*="mat"], input[type=text], textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
}

//custom style for scroll bar
::-webkit-scrollbar {
    width:10px;          
 }
 
 ::-webkit-scrollbar-thumb {   
   border-radius: 30px;
   background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#da1b60));
   box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
   border-radius: 30px;
   background: darkgrey;
 }
 ::-webkit-scrollbar-track {     
   background-color: transparent;
 }