<div class="contacts-wrapper" fxLayout="column" >
    <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

        <div class="search bg-white border" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <mat-icon class="search-icon">search</mat-icon>

            <input matInput  type="text" placeholder="Search" fxFlex [(ngModel)]="searchText" (input)="searchContacts()">
            

        </div>
    </div>
    <ul class="p-0">
        <li *ngFor="let contact of ContactsData" fxLayout="row" class="mb-2">
            <a class="w-100" (click)="openContactChat(contact.id)">
            <img fxFlex="50px" src="assets/images/contacts/contact.jpg" alt="usr image" class="rounded-circle"/>
            <div fxLayout="column wrap" fxFlex fxLayoutAlign="space-between" class="overflow-hidden">
            <div>
                    <span fxFlex>{{contact.name}}</span>
                    <span fxFlex="20px" class="bg-notification rounded-circle text-center text-white" *ngIf="contact.unread">{{contact.unread}}</span>
                </div>
                <div fxFlex fxLayoutGap="10px" class="w-100">
                    <span fxFlex class="text-truncate">{{contact.lastMessage}}</span>
                    <span fxFlex="60px">{{contact.lastMessageDate}}</span>
                </div>
            </div>
        </a>
        </li>
    
    </ul>

</div>