.contacts-wrapper{
    .search-wrapper {
        padding: 20px 0px 20px;
        .search{
            height: 40px;
            padding: 8px;
            border-radius: 18px;
            border: 1px solid;
            .search-icon{
                font-size: 20px;
                line-height: 24px;
            }
            input{
                border: none;
            }
        }
    }
    .contact_status{
        &:after{
            content: "";
            width: 10px;
            height: 10px;
            background: var(--gray);
            position: absolute;
            bottom: 5px;
            right: 0px;
            border-radius: 50%;
        }
        &.online:after{
            background: var(--green);
        }
    }
}